*{
  box-sizing: border-box;
}

:root{
  --darkblue: #011627;
  --teal: #2EC4B6;
  --orange: #FF9F1C;
  --white: #FDFFFC;
  --red: #E71D36;
  --boxShadow: -1px 3px 30px -4px rgba(0,0,0,.16);
}

body{
  margin:0;
  font-family: 'Lato';
}

.title{
  font-size: 60px;
}

.large-text{
  font-size: 40px;
}

.medium-text{
  font-size: 28px;
}
.small-text{
  font-size: 16px;
}

.white{
  color:var(--white);
}

.teal{
  color:var(--teal);
}

.orange{
  color:var(--orange);
}

/* nav */
nav {
  text-align: center;
  padding: 15px 50px;
  background-color: var(--darkblue);
}

nav .brand{
  margin:0;
}

.navbar-list{
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
  padding:0;
}

.navbar-item{
  padding:0 10px;
}

.navbar-item a {
  color: var(--white);
  text-decoration: none;
  position: relative;
}

.navbar-item a.active::after{
  content:'';
  width:100%;
  height:2px;
  background-color: #202020;
  position: absolute;
  bottom:-2px;
  display: block;
}

/* Hero */
.hero{
  background-color: var(--darkblue);
  height:100vh;
}

.hero-inner-wrapper{
  width:92%;
  margin: auto;
}

.hero-title{
  margin:0;
  padding-top: 10vh;
}

.hero-paragraph{
  max-width:600px;
}

.hero-btn{
  width:40%;
  height:55px;
  border:none;
  border-radius: 2px;
  max-width:200px;
  font-size: 26px;
}

.signup-btn{
  background-color: var(--teal);
  color: var(--white);
}

.login-btn{
  margin-left: 35px;
}

/* Forms */
.form-wrapper{
  height:100vh;
  background-color: var(--darkblue);
  padding-top: 10vh;
}

.form-wrapper h2{
  margin:0;
  padding-bottom: 26px;
  font-size:2.8rem;
}

.form-inner-wrapper{
  height:100%;
  width:90%;
  max-width:650px;
  margin:auto;
  background-color: var(--white);
  border-radius: 20px;
  padding:30px;
}

.form-inner-wrapper label{
  margin-bottom: 6px;
  display: block;
}

.form-inner-wrapper input, .form-inner-wrapper textarea{
  width:100%;
  display: block;
  height:40px;
  line-height: 0;
  border:2px solid rgba(0,0,0,.2);
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.form-inner-wrapper textarea{
  height:80px;
  padding-top: 20px;
}

.form-inner-wrapper .form-btn{
  height:40px;
  width:120px;
  margin-top: 10px;
  border:none;
  border-radius: 4px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 1rem;
}

.greyed-link{
  display: block;
  color:grey;
  padding-top: 20px;
}

/* Home */

.home{
  width:96%;
  margin:auto;
}

/* user container */
.user-container{
  text-align: center;
  margin:20px;
  padding:30px;
  box-shadow: var(--boxShadow);
}

.post-container{
  width:95%;
  margin:auto;
}

.home-user-avatar{
  width:110px;
  height:110px;
  border-radius: 50%;
  margin: auto;
  background-color: #000;
}



/* Posts */
.post-row{
  width:100%;
  max-width:800px;
  min-height:240px;
  box-shadow: var(--boxShadow);
  padding:30px;
  margin:30px 0;
  border-radius: 8px;
}

.user-post-tag{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
}

.user-post-avatar{
  width:35px;
  height:35px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  right:20px;
}

/* Create Post */
.new-post-wrapper{
  height:100vh;
  width:100%;
  background-color: #eee;
  background-image: url('./images/bridge-daylight-environment-775201.jpg');
  background-position: top;
  position: relative;
}

.new-post-wrapper::before{
  content:'';
  display: block;
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  background-color: rgba(0,0,0,.5);
}

.new-post-form{
  position: relative;
  z-index: 1000;
  width:65%;
  min-width:250px;
  padding-top: 190px;
  margin: auto;
  background-color: rgba(255,255,255,.2);
  height:100vh;
  text-align: center;
}

.new-post-title{
  color:white;
  padding:0 10px;
  font-size: 1.8rem;
}

.new-post-form input, .new-post-form textarea{
  width:90%;
  display: block;
  height:39px;
  padding:10px;
  margin: 10px auto;
  font-size:1rem;
}

.new-post-form textarea{
  height:150px;
}

.create-post-btn{
  width:180px;
  padding:15px 0 ;
  border:none;
  border-radius: 4px;
  margin:auto;
  font-size: 1rem;
}


/* medium media queries */

@media (min-width:768px){
  nav{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .hero-inner-wrapper{
    width: 80%;
  }

  .home{
    width:92%;
    max-width:1200px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .user-container{
    width: 43%;
    min-width:160px;
    padding:40px 30px;
    margin:30px 0;
    border-radius: 8px;
  }
  
  .post-container{
    width:85%;
  }

  .post-row{
    width:80%;
  }
}